[submodule "portal"]
	path = portal
	url = https://github.com/IBRAH1M/portal
[submodule "bpm-service"]
	path = bpm-service
	url = https://github.com/IBRAH1M/bpm-service
[submodule "administration-portal"]
	path = administration-portal
	url = https://github.com/IBRAH1M/administration-portal
[submodule "authentication-authorization-service"]
	path = authentication-authorization-service
	url = https://github.com/IBRAH1M/authentication-authorization-service
